html,
        body {
            width: 100%;
            height: 100%;
            margin: 0%;
            padding: 0%;            
            background-color: lightgray;
        }

        /* Holds the banner */
        #skylineDiv {
            background-image: url('Chicago_skyline.png');
            position: relative;
            background-size: cover;
            Float: right;
            width: 960px;
            height: 170px;
            text-indent: 50px;
            font-size: 28pt;
        }

        /* Holds the instructions */
        #instructionDiv {
            position: relative;
            width: 890px;
            height: 240px;
            Float: left;
            font-size: 10pt;
            padding: 18px;
            text-align: left;
            margin-bottom: 15px;
        }        
        
        /* Holds the map */
        #mapDiv {
            position: relative;
            width: 960px;
            height: 760px;
            Float: right;
            border-style: solid;
            /*border-color: black;*/
            border-width: 3px;
        }
        
        /* Holds the switches */
        #layersDiv {
            position: relative;
            width: 940px;
            height: 130px;
            float: left;
            background-color: lightgrey;
            margin-top: 0px;
        }

        /* Holds the selected station details */
        #stationDiv {
            position: relative;
            width: 940px;
            height: 50px;
            float: left;
            background-color: lightgrey;
            margin-top: 0px;
            font-size: 15pt;
            text-align: center;
        }

        /* Holds the weather details */
        #weatherDiv {
            position: relative;
            width: 940px;
            height: 40px;
            float: left;
            background-color: lightgrey;
            margin-top: 0px;
            font-size: 12pt;
            text-align: center;
        }

        /* Holds the graph */
        #graphDiv {
            position: relative;
            width: 940px;
            height: 420px;
            float: left;
            padding: 30px;
            margin-left: 0px;
            margin-top: 10px;
            background-color:lightgrey;
        }

        /* Creators of the app's Div */
        #createrDiv {
            position: relative;
            width: 940px;
            height: 40px;
            float: left;
            padding: 0;
            margin-left: 5px;
            margin-top: 5px;
            font-size: 8pt;
            background-color:lightgrey;
        }

        /* For switches */
        .checkbox-grid li {
            display: inline-block;
            float: left;
            width: 20%;
        }
        
        /* Leaflet thinngs */

        .leaflet-bottom.leaflet-left {
        width: 100%;
        }

      .leaflet-control-container .leaflet-timeline-controls {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
      }


      /* Line graph details */
      .chart { 
          font: 12px Arial;
         }
        
        .line { 
            stroke-width: 1;
            fill: none;
        }
        
        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .overlay {
            fill: none;
            pointer-events: all;
        }
          
        .focus circle {
            fill: none;
            stroke: steelblue;
        }
      
