html,
        body {
            width: 100%;
            height: 100%;
            margin: 0%;
            padding: 0%;            
        }
        #mapDiv {
            position: relative;
            width: 50%;
            height: 84%;
            Float: left;
            border-style: solid;
            border-color: black;
            border-width: 3px;
        }
        
        div.skyline {
            background-image: url('Chicago_skyline.png');
            background-repeat: 1;
            width: 100%;
            height: 170px
              }

        #graphDiv {
            position: relative;
            width: 580px;
            height: 450px;
            float: left;
            padding: 0;
            background-color: white;
            border: solid black 3px              
        }
        #stationDiv {
            position: relative;
            width: 600px;
            height: 100px;
            float: left;
            background-color: white;
            border: solid black 3px;
            margin-top: 5px;
            font-size: 20pt;
            text-align: center;
        }
        #layersDiv {
            position: relative;
            width: 600px;
            height: 150px;
            float: left;
            background-color: white;
            border: solid black 3px;
            margin-top: 5px;
        }

        .checkbox-grid li {
            display: inline-block;
            float: left;
            width: 30%;
        }
        h1 {
            text-align: center;
        }

        #weatherDiv {
            position: relative;
            width: 600px;
            height: 100px;
            float: left;
            background-color: white;
            border: solid black 3px;
            margin-top: 5px;
            font-size: 20pt;
            text-align: center;
        }
        
        .leaflet-bottom.leaflet-left{
        width: 100%;
      }
      .leaflet-control-container .leaflet-timeline-controls{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
      }

      .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
      }
  
      .axis text {
        font-family: Lato;
        font-size: 13px;
      }

      .from {
        fill: yellow;
        opacity: .5;
      }
      
      .to {
          fill: #391D7A;
          opacity: .5;
      }
      .axis text {
        font: 10px sans-serif;
      }
      
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      
      .x.axis path {
        display: none;
      }
      